<!--Responsive Navbar: https://ng-bootstrap.github.io/#/components/collapse/examples -->

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="'.'">Responsive navbar</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let link of linksHome">
          <a class="nav-link" [routerLink]="link.fragment" (click)="isMenuCollapsed = true" >{{ link.title }}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
