.list-seat {
  width: 700px;
}
.movie-info {
  background-image: url(https://tinyearth.wisc.edu/wp-content/uploads/2018/06/iStock-697020460.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  h3 {
    margin: 10px;
  };
}
.booking-details {
  background-color: #0a2029f2;
  border-radius: 5px;
  color: white;
  text-align: left;
  h3 {
    text-align: center;
  }
  span {
    margin-bottom: 20px;
  }
  .total {
    p {
      font-size: 1rem;
    }
  }
}
.seat {
  height: 20px;
  width: 20px;
  border: none;
  margin-left: 50px;
}
.seat-unavailable {
  background-color: grey;
}
.seat-selected {
  background-color: rgb(4, 163, 4);
}
.seat-available {
  border: 1px solid hsl(45, 100%, 51%);
  background-color: #fff;
}

// table
table {
  color: white;
  width: 90%;
  border-collapse:separate;
  margin-left: 30px;
  thead {
    background-color: #0a2029f2;
    color: white;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 15px;
    font-weight: normal;
  }
  h3 {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 425px) {
.list-seat {
  width: 80%;
  margin-top: auto;
  margin-top: 10px;
}
.movie-info {
  h3 {
    font-size: 12px;
  }
}
.booking-details {
  font-size: 12px;
  margin-bottom: 10px;
  table {
    tr {
      td,th {
        font-size: 12px;
        h3 {
          font-size: 12px;
        }
      }
    }
  }
}
}
@media screen and (min-width: 768px) {
  .list-seat {
    width: 75%;
    margin-top: auto;
    margin-top: 10px;
  }
  .movie-info {
    h3 {
      font-size: 14px;
    }
  }
}
@media screen and (min-width: 992px) {
  .list-seat {
    width: 70%;
    margin-top: auto;
    margin-top: 10px;
  }
  .movie-info {
    h3 {
      font-size: 17px;
    }
  }
  .booking-details {
    font-size: 15px;
    margin-bottom: 15px;
    table {
      tr {
        td,th {
          font-size: 15px;
          h3 {
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .movie-info {
    h3 {
      font-size: 20px;
    }
  }
  .booking-details {
    font-size: 18px;
    margin-bottom: 15px;
    table {
      tr {
        td,th {
          font-size: 18px;
          h3 {
            font-size: 18px;
          }
        }
      }
    }
  }
}

