<<<<<<< HEAD
// input.ng-invalid.ng-touched {
//   border-left: solid 2px tomato;
// }

// input.ng-valid.ng-touched {
//   border-left: solid 2px greenyellow;
// }
mat-form-field {
  width: 100%;
}
.form-group.loai-nguoi-dung {
  margin-top: 20px;
}
=======
input.ng-invalid.ng-touched {
  border-left: solid 2px tomato;
}

input.ng-valid.ng-touched {
  border-left: solid 2px greenyellow;
}

>>>>>>> d8a3409070719e23955020e3e3e485d0c0d3602b
table, td, th, thead, tr {
  border: 1px solid rgb(187, 186, 186) !important;
}
table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}
