/* Showtimes */
.showtimes{
  background-color: white;
  margin: 20px 50px;
  padding: 10px;
  border-radius: 7px;
  h4 {
    text-align: center;
    margin: 15px 0 25px;
    letter-spacing: 5px;
    font-size: 22px;
    font-weight: 400;
  }
  .showtimes-options{
    margin: 10px 10px 50px 30px;
    padding: 10px;
    width: 250px;
    font-weight: 400;
    font-size: 18px;
    border: none;
    background-color: #0a2029f2;
    color: white;
  }
}

.showtimes-detail {
  ul {
    list-style: none;
    display: flex;
    gap: 5%;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
  }
  a {
    color: black;
    font-size: 20px;
    text-decoration: none;
  }
  .weekend a {
    color: #f44336;
    &:hover {
      color: coral;
      transition: all .3s;
    }
  }
  .booking-btn a {
    color: white;
    font-size: 14px;
    &:hover {
      color: black;
    }
  }

}


// table
table {
  width: 90%;
  border-collapse:separate;
  margin-left: 30px;
}
table thead {
  background-color: #0a2029f2;
  color: white;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 15px;
  font-weight: normal;
}

