<div class="container">
  <footer class="site-footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="container">
            <h2 class="text-white">
              CINEMA TICKET - SẢN PHẨM CỦA CÔNG TY CỔ PHẦN VÉ PHIM
            </h2>
            <p>
              Địa chỉ: 112 Cao Thắng, Phường 4, Quận 3, Tp. Hồ Chí Minh,
              Việt Nam.
            </p>
            <p>Giấy chứng nhận ĐKKD số: 0102030405</p>
            <p>Số Điện Thoại (Hotline): 1900 900 900</p>
            <p>Email: support@cinematicket.vn</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <h6>CATEGORIES</h6>
          <ul class="footer-links">
            <li>
              <a href="home/list-movie">List movie</a>
            </li>
          </ul>
        </div>

        <div class="col-sm-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li>
              <a href="home/about-page">About Us</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="#">Sitemap</a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-6 col-xs-12">
          <p class="copyright-text">
            Copyright © 2021 All Rights Reserved by
            <a class="text-info" href="#">
              Cybersoft
            </a>
          </p>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li>
              <a class="facebook" href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="twitter" href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a class="dribbble" href="#">
                <i class="fa fa-dribbble"></i>
              </a>
            </li>
            <li>
              <a class="linkedin" href="#">
                <i class="fa fa-linkedin" ></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
