<!-- <div class="container"> -->
  <footer class="site-footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-7">
          <div class="container">
            <h2 class="text-white">
              CINEMA TICKET - SẢN PHẨM CỦA CÔNG TY CỔ PHẦN VÉ PHIM
            </h2>
            <p>
              Địa chỉ: 112 Cao Thắng, Phường 4, Quận 3, Tp. Hồ Chí Minh,
              Việt Nam.
            </p>
            <p>Giấy chứng nhận ĐKKD số: 0102030405</p>
            <p>Số Điện Thoại (Hotline): 1900 900 900</p>
            <p>Email: support@cinematicket.vn</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <iframe class="mx-auto px-auto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.509752233211!2d106.67765461406813!3d10.772215392324343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f211a20768b%3A0xb9bb32aa11cf2d62!2zMTEyIENhbyBUaOG6r25nLCBQaMaw4budbmcgNCwgUXXhuq1uIDMsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1615262404395!5m2!1svi!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-6 col-xs-12">
          <p class="copyright-text">
            Copyright © 2021 All Rights Reserved by
            <a class="text-info" href="#">
              Cybersoft
            </a>
          </p>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li>
              <a class="facebook" href="#">
                <fa-icon [icon]="faFootballBall"></fa-icon>
              </a>
            </li>
            <li>
              <a class="twitter" href="#">
                <fa-icon [icon]="faCoffee"></fa-icon>
              </a>
            </li>
            <li>
              <a class="dribbble" href="#">
                <fa-icon [icon]="faCookie"></fa-icon>
              </a>
            </li>
            <li>
              <a class="linkedin" href="#">
                <fa-icon [icon]="faFilm"></fa-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
<!-- </div> -->
