.site-footer {
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  background-color: hsla(197, 67%, 10%, 0.95);
}
.site-footer hr {
  border-top-color: white;
  opacity: 0.5;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.footer-links {
  padding-left: 0;
  list-style: none;
  display:inline-block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:hover {
  color: white;
  text-decoration: none;
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: right;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons a {
  background-color: #33353d;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}
.social-icons a.facebook:hover {
  color: #fff;
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  color: #fff;
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  color: #fff;
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  color: #fff;
  background-color: #ea4c89;
}
.copyright-text {
  a.text-info:hover {
    text-decoration: none;
    color: tomato !important;
  }
}

.doi-tac {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  width: fit-content;
  gap: 20px;
  a {
    position: relative;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}


@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
  iframe {
    width: fit-content;
  }
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
  iframe {
    width: fit-content;
  }
}
