#tin-tuc {
  padding-top: 50px;
}
.btn {
  font-size: 1rem;
  border: none;
  padding-bottom: 10px;
  padding-top: 10px;
}
.btn-active {
  color: tomato;
  font-size: 1.2rem;
}
.btn:hover {
  padding: 10px;
  font-size: 1.2rem;
  background-color: none;
  transition: all .3s;
}
.btn-active:hover {
  color: tomato;
  background-color: transparent;
  font-size: 1.2rem;
}
