<div class="row my-2">
  <div class="col-sm-12 text-center">
    <button class="btn mr-2" (click)="showNews()" [class]='content === "news" ? "btn-primary" : "btn-secondary"'  >Góc Điện ảnh</button>
    <button class="btn mr-2" (click)="showReview()" [class]='content === "review"? "btn-primary" : "btn-secondary"'>Review</button>
    <button class="btn" (click)="showPromotion()" [class]='content === "promotion"? "btn-primary" : "btn-secondary"'>Khuyến
      mãi</button>
  </div>
</div>

<div class="container">
  <hr/>
  <div class="row" [ngSwitch]="content">
    <!-- news -->
    <div class="col-sm-12" *ngSwitchCase="'news'">
      <app-news></app-news>
    </div>
    <!-- review -->
    <div class="col-sm-12" *ngSwitchCase="'review'">
      <app-review></app-review>
    </div>
    <!-- promotion -->
    <div class="col-sm-12" *ngSwitchCase="'promotion'">
      <app-promotion></app-promotion>
    </div>

  </div>
</div>
