.movie-form {
  padding-top: 70px;
  margin-bottom: 30px;
  mat-form-field {
    width: 50%;
    padding-right: 10px;
  }
  .form-group.loai-nguoi-dung {
    margin-top: 20px;
  }

  // table
  table {
    margin-top: 20px;
    width: 100%;
    border-collapse:separate;
    border-spacing: 0.5px;
    overflow-x: hidden;
    font-size: 12px;
    thead {
      background-color: #0a2029f2;
      color: white;
      display: table;
      width: calc(100% - 5px);
      table-layout:fixed;
      height: 40px;
    }
    tbody {
      display: block;
      max-height: 300px;
      width: 100%;
      overflow-y: scroll;
      tr {
        display: table;
        table-layout:fixed;
        width: 100%;
        height: 40px;
      }
    }
    td, th {
      overflow-wrap: break-word;
      vertical-align: middle;
      width: auto;
      border: 1px solid #dddddd;
      text-align: center;
      padding: 2px;
      font-weight: normal;
    }

    button.btn-submit {
      display: block;
      margin-top: 15px;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #949393;
  border-radius: 10px;
}

@media screen and (min-width: 425px) {
  .movie-form {
    mat-form-field {
      width: 100%;
    }
      table.table {
        td,th {
          .btn.btn-update {
            font-size: 10px;
            margin-bottom: 2px;
          }
        }
      }
      button.btn-submit {
        display: block;
        margin-top: 15px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .movie-form {
      mat-form-field {
        width: 100%;
      }
        table.table {
          td,th {
            .btn.btn-update {
              font-size: 10px;
              margin-bottom: 2px;
            }
          }
        }
        button.btn-submit {
          display: block;
          margin-top: 15px;
        }
      }
    }

  @media screen and (min-width: 1024px) {
    .movie-form {
        table.table {
          td,th {
            .btn.btn-update {
              font-size: 12px;
              padding: 3px;
            }
          }
        }
      }
    }




